In [1]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Wine Wrangling 
#
##########################################################################################

In [2]:
##################################################################################################################
#
# YouDo:
#    1) Make a copy of this notebook with your name as a suffix:  
#       BIOS6644_Wine_Wrangling_FirstLast.ipynb
#    2) Do all work in this new notebook.
#    3) Submit completed work via GitHub pull request
#
##################################################################################################################

In [3]:
# Standard imports
import numpy as np
import pandas as pd
import pylab as plt
%matplotlib notebook

## Fetch the data

https://archive.ics.uci.edu/ml/machine-learning-databases/wine/

You'll need to fetch both wine.data and wine.names

## Build a  list of field names

In [4]:

##################################################################################################################
#
# YouDo:
#    1) Read (with your eyes--not code) the wine.names file and 
#    2) inspect wine.data for structure 
#    3) Review the features of python strings with particular attention to triple-quoted strings:
#         https://docs.python.org/3/tutorial/introduction.html#strings
#
##################################################################################################################
#
# Notice that in wine.names, there's a list of column names in nicely human-readable format.   
# Also notice that wine.data doesn't have a header row
#
# In python, it's pretty easy to take that list of column names and make it usable in our code.
# You could, of course, hand type it, but that's not a scalable solution.
#
#The list looks like this:
#
#	1) Alcohol
# 	2) Malic acid
# 	3) Ash
#	4) Alcalinity of ash  
# ...


# Using a simple cut & paste, I've grabbed the list and made it into a triple-quoted string.

In [5]:
# Read the data
df = pd.read_csv ( '/home/dir0417/Desktop/BIOS6644-master/Data/wine.data', header = -1)
df[:10]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [6]:
colnames = """ 
	1) Alcohol
 	2) Malic acid
 	3) Ash
	4) Alcalinity of ash  
 	5) Magnesium
	6) Total phenols
 	7) Flavanoids
 	8) Nonflavanoid phenols
 	9) Proanthocyanins
	10)Color intensity
 	11)Hue
 	12)OD280/OD315 of diluted wines
 	13)Proline """
#has tabs

s1 = 'string'
s2 = "string's"
s3 = '"str"ing'
s4 = 'strin\'s' #\ makes the statement stay together
s5 = '''first one'''
s6 = """second one"""


def printem():
    """print the stuff
    usage:
     does cool stuff with strings
     s1: single quoted"""
    
print(s2, s3, s4, s5, s6)
help (printem)

string's "str"ing strin's first one second one
Help on function printem in module __main__:

printem()
    print the stuff
    usage:
     does cool stuff with strings
     s1: single quoted

In [7]:
colnames #gives you the information (\t) and (\n)..etc

' \n\t1) Alcohol\n \t2) Malic acid\n \t3) Ash\n\t4) Alcalinity of ash  \n \t5) Magnesium\n\t6) Total phenols\n \t7) Flavanoids\n \t8) Nonflavanoid phenols\n \t9) Proanthocyanins\n\t10)Color intensity\n \t11)Hue\n \t12)OD280/OD315 of diluted wines\n \t13)Proline '

In [25]:
  
##################################################################################################################
#
# YouDo:
#    1) Convert the given triple-quoted string colnames into a list of field names.   
#        a) Ensure that the list has 13 elements
#        b) Ensure each entry has no space characters--replace with underscores
#        c) It should look like this:
#            col_name_list = ['Alcohol', 'Malic_acid', 'Ash', 'Alcalinity_of_ash', ...
#
#  Hint:  My solution made great use of the string methods:
#       .strip()
# and   .replace()


#  1)
#######################################  BEGIN STUDENT CODE  #####################################################

colnames.split(')') #see list of things, each column name is on its own line

#1st line is gibberish, trailing stuff

colnames.replace('/t','') #replacing the tabs (\t) with nothing ('')
ll = colnames.replace('\t','').split('\n') #replace tabs with nothing and split on new line

#ll[1].split #pulling out alcohol, break out into # and word 
#ll[1].split(')')[1] #takes out the #1
#ll[1].split(')')[1].strip(')') #takes out the #1, and takes out the closing parenthesis
#should hold true for #2 (malic acid) as well and etc, with #2 (malic acid), maybe we don't like the space there so
#ll[2].split(')')[2].strip(')').replace(' ', '_') #replacing the space with underscore
#check code #2 and make sure it works with words that are single (#1)
#ll[1].split(')')[1].strip(')').replace(' ', '_') #it does!
#so now, we are going to make a list comprehension
#[xx.split(')')[1].strip(')').replace(' ', '_') for xx in ll]
#there was an error in this code because the 0, doesn't have stuff in it --> computer science thing
#[xx.split(')')[1].strip(')').replace(' ', '_') for xx in ll[1:]]
#adding a 1 there indicates that the data starts at #1..
cn = [xx.split(')')[1].strip(')').replace(' ', '_') for xx in ll[1:]]
#store it into a variable
len(cn) #does say 13


#Could also just type 
#cn = ['alcohol', 'malic acid', etc...]

13

In [ ]:
#######################################   END STUDENT CODE   #####################################################

# Read wine.data into a data frame

In [30]:
#################################################################################################################
#
# YouDo:
#    1) read the data into a dataframe called df
#       a) Ensure that you don't read the first row of data as the header
#           (check the help file: help(pd.read_csv) under "header")
#       b) df should have the shape 178 rows by 14 columns
#
#
#################################################################################################################

# 1) 
#######################################  BEGIN STUDENT CODE  #####################################################
df = pd.read_csv ( '/home/dir0417/Desktop/BIOS6644-master/Data/wine.data')
df[:10]
df.shape

#######################################   END STUDENT CODE   #####################################################

(177, 14)

## Add column names to the df

In [35]:
#################################################################################################################
#
# YouDo:
#    1) Add column names to the df
#       Note:  There are 13 column names in our list but 14 in the data
#              A careful reading of wine.names will give you the final column name
#  

#######################################  BEGIN STUDENT CODE  #####################################################
# insert Class as a column name for the first Column 

#if we have a string
'as'+ 'df' #concatenates
#if we add a list
['as', 'df'] + ['ack'] #merges  them to one list
#cn is a list, if add ['class'] with cn, we get class at the top of the cn list
# ['class']+cn
df.col = ['class']+ cn
df.col

# could also do it this way cn.insert(0, 'class')


#what does this error mean, /home/dir0417/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: 
#UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see 
 #   https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access??????????????????
    
df['alcohol'] #had an error, but don't understand why????

KeyError: 'alcohol'

In [16]:
#######################################   END STUDENT CODE   #####################################################

NameError: name 'col_name_list' is not defined

## An example analysis:  Principal Components Analysis

In [ ]:
# adapted from https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

features = df.columns[1:] # Separating out the features
x = df.loc[:, features].values# Separating out the target
y = df.loc[:,'Class'].values# Standardizing the features
x = StandardScaler().fit_transform(x)

pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)

principalDf = pd.DataFrame(data = principalComponents, columns = ['PC1', 'PC2'])
principalDf['Category'] = y

In [ ]:
# Make a scatter plot of the principal components of wines--dots colored by "Class" 
fig, ax = plt.subplots()

thisclass = principalDf
ax.scatter(thisclass.PC1, thisclass.PC2, c=thisclass.Category)

plt.title('First two Principle Components of Wine Data')
plt.xlabel('First Principle Component')
plt.ylabel('Second Principle Component')

In [ ]:
# Explained variance
print('Explained Variance: {}'.format(pca.explained_variance_ratio_))

In [ ]:
# PCA Loading scores
pd.DataFrame(pca.components_.T, index=fixed_colnames, columns=['PC1', 'PC2'] )

In [ ]:

##################################################################################################################
#
# YouDo:
#    1) Ensure your file is called BIOS6644_Wine_Wrangling_FirstLast
#    2) Submit via pull-request
#
##################################################################################################################